<!DOCTYPE html>
<html lang="pl" data-theme="ldfy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lubelskie Dni Fantastyki{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="icon" href="{{ asset('images/smokbeztła.png') }}"
    {% block stylesheets %}{% endblock %}
    {% block meta %}
        <meta name="description" content="Lubelskie Dni Fantastyki to najstarsza impreza fantastyczna w Lublinie. Sprawdź program, atrakcje i dołącz do nas!">
        <meta name="keywords" content="Lubelskie Dni Fantastyki, Lublin, fantastyka, konwent, prelekcje, gry planszowe, RPG, konkursy, fantastyczne wydarzenia">
        <meta name="author" content="Federacja Fantastyki Feniks">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="Lubelskie Dni Fantastyki 2024">
        <meta property="og:description" content="Lubelskie Dni Fantastyki to najstarsza impreza fantastyczna w Lublinie. Sprawdź program, atrakcje i dołącz do nas!">
        <meta property="og:image" content="{{ asset('images/smokbeztła.png') }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ app.request.uri }}">
        <meta property="twitter:title" content="Lubelskie Dni Fantastyki 2024">
        <meta property="twitter:description" content="Lubelskie Dni Fantastyki to najstarsza impreza fantastyczna w Lublinie. Sprawdź program, atrakcje i dołącz do nas!">
        <meta property="twitter:image" content="{{ asset('images/smokbeztła.png') }}">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="background-image content">
        {{ include('navbar.html.twig') }}
        <main class="">
            {% block body %}{% endblock %}
        </main>
    </div>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            &copy; 2024 Lubelskie Dni Fantastyki. Wszelkie prawa zastrzeżone.
        </div>
    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
